@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');

* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

.FAQ {
  margin: 0;
  padding: 0;
  font-family: 'Hind', sans-serif;
  background: #fff;
  color: #4d5974;
  display: flex;
  margin-bottom: 70px;

}

.FAQ .container {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
  padding-top: 10px;
  padding-bottom: 20px;
}

.FAQ .accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}

.FAQ .accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #03b5d2;
}

.FAQ .accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 20px;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.FAQ .accordion button:hover,
.FAQ accordion button:focus {
  cursor: pointer;
  color: #03b5d2;
}

.FAQ .accordion button:hover::after,
.FAQ .accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
}

.FAQ .accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.FAQ .accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
  margin-right: 50px;
}

.FAQ .accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.FAQ .accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.FAQ .accordion button[aria-expanded='true'] {
  color: #03b5d2;
}
.FAQ .accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.FAQ .accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.FAQ .accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.FAQ .accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 20px;
}
.headingdown2{
    margin-bottom: 30px;
}
@media (max-width: 500px)
{
    .FAQ .container {
        margin: 0 auto;
        padding: 1rem;
        width: 48rem;
        padding-top: 10px;
      }
      .FAQ .accordion button .icon{
        margin-right: 10px;
      }
}